@media screen and (min-width:300px) and (max-width: 576px) {
    .top-menu {
        width: 100%;
        text-align: center;
    }

    

    .header-logo,
    .header-icon {
        text-align: center;
    }

    .for-dark {
        background: none;
    }

    

    .about-us h4,
    .service h4,
    .client h4 {
        margin-bottom: 15px;
        padding-top: 10px;
        margin-top: 15px;
    }

    .tweets h4,
    .quick-link h4,
    .latest-blog h4,
    .contact-us h4 {
        padding-top: 10px;
    }

    .tweets h4,
    .quick-link h4,
    .latest-blog h4,
    .contact-us h4 {
        margin-bottom: 15px;
    }

    .tweets,
    .quick-link,
    .latest-blog {
        margin-bottom: 30px;
    }

    .copyright,
    .owner {
        font-size: 10px;
        padding: 0;
    }

    .owner {
        padding-left: 10px;
    }

    .main-title h2 {
        font-size: 50px;
    }
}

@media screen and (min-width:576px) and (max-width: 768px) {
    
    .for-dark {
        background: none;
    }

    .about-us h4,
    .service h4,
    .client h4 {
        margin-bottom: 15px;
    }

    .tweets h4,
    .quick-link h4,
    .latest-blog h4,
    .contact-us h4 {
        padding-top: 10px;
    }

    .copyright,
    .owner {
        font-size: 14px;
    }

    .main-title h2 {
        font-size: 70px;
    }
}

@media screen and (min-width:769px) and (max-width: 992px) {
    }

    .main-menu ul li {
        padding-left: 10px;
    }

    .main-menu ul li a {
        font-size: 13px;
    }

    .about-us h4,
    .service h4,
    .client h4 {
        margin-bottom: 25px;
    }

    .tweets h4,
    .quick-link h4,
    .latest-blog h4,
    .contact-us h4 {
        padding-top: 15px;
    }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
    .main-menu ul li {
        padding-left: 30px;
    }
}

@media screen and (min-width:1200px) and (max-width: 1496px) {
    .main-menu ul li {
        padding-left: 55px;
    }

}

@media screen and (max-width: 768px) {
    .main-menu ul li a {
        display: none;
    }

    .main-menu a.icon {
        display: block;
        padding-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    .main-menu.responsive {
        position: relative;
        background: black;
    }

    .main-menu.responsive a.icon {
        color: wheat;
    }

    .main-menu.responsive ul li {
        padding-top: 5px;
        display: block;
    }

    .main-menu.responsive.icon {
        position: absolute;
        left: 0;
        top: 0;
    }

    .main-menu.responsive ul li a {
        float: none;
        display: block;
        text-align: left;
        color: green;
    }
}
